name: Gitops Project

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

      - "/helm/**"
permissions:
  contents: write

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      backend: ${{ steps.filter.outputs.backend }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
            backend:
              - 'backend/**'
  build-frontend:
    runs-on: ubuntu-latest
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build & Push Frontend Image

        run: |
          IMAGE_TAG=${{ github.run_id }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gitopsfront:$IMAGE_TAG frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/gitopsfront:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
      - name: Update Helm values (frontend)
        run: |
          sudo snap install yq
          yq -i '.image.tag = strenv(IMAGE_TAG)' helm/frontend/values.yaml

      - name: Commit & Push Helm Change
        
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/frontend/values.yaml
          git commit -m "ci: update frontend image to $IMAGE_TAG"
          git pull --rebase origin main
          git push origin main
  build-backend:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build & Push Backend Image
        run: |
          IMAGE_TAG=${{ github.run_id }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gitopsback:$IMAGE_TAG backend
          docker push ${{ secrets.DOCKER_USERNAME }}/gitopsback:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
      - name: Update Helm values (backend)
        run: |
          sudo snap install yq
          yq -i '.image.tag = strenv(IMAGE_TAG)' helm/backend/values.yaml

      - name: Commit & Push Helm Change
        
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/backend/values.yaml
          git commit -m "ci: update backend image to $IMAGE_TAG"
          git pull --rebase origin main
          git push origin main